View

  &.wrapper
    layout vertical
    top 11
    right 11
    left 11

  &.horizontal
    width unquote('Ti.UI.FILL')
    height 44
    layout horizontal
    Button
      width 50%

TextField
  width unquote('Ti.UI.FILL')
  height 44
  borderStyle unquote('Ti.UI.INPUT_BORDERSTYLE_ROUNDED')
