!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='css/content_block.css', type='text/css')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1')
  body
    #container !{text}
